.Login {
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
}

.ContentWrapper {
  margin-top: 20px;
  padding: 0 20px;
}

.QuoteSpace {
  padding: 0 20px;
  margin-bottom: 40px;
}

.Brand {
  color: #212b36;
}
