{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "extends": [
    "plugin:shopify/typescript",
    "plugin:shopify/react",
    "plugin:shopify/prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      2,
      {"extensions": [".js", ".jsx", ".ts", ".tsx"]}
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "shopify/jsx-no-hardcoded-content": "off"
  }
}
