.TripReviewSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  height: 100%;
  padding: 20px;
  border-radius: 4px;
  background-color: #f9fafb;
  border: 1px solid #dfe3e8;
}
